/*
    paleta de cores:
    primary: #EAECEF
    primary foreground: #002649
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  background-color: white;
}

/* COMPONENTES */

/* NAVBAR */
/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #eaecef;
  height: 130px;
  padding: 0 75px;
  box-sizing: border-box;
}

.navbar .navbar-logo {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 130px;
  align-items: center;
}

.navbar ul {
  justify-content: flex-end;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
}

.navbar ul li a {
  color: #002649;
  text-decoration: none;
}
.navbar .login {
  gap: 0px;
}

.navbar .login img {
  background: #002649;
  border-radius: 50%;
  margin-right: 15px;
}

.navbar .login li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar .login li a span {
  font-size: 19px;
  font-weight: 500;
  display: block;
  color: black;
}

/* INFORMATIVO */
.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.container-inicial {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
  border-bottom: solid 2px #edbe00;
}

.title {
  font-size: 57px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #edbe00;
}

.container-titulo p {
  font-size: 22px;
  color: #332900;
}

.container-titulo {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: solid 1px #edbe00;
}

.container-informativo h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #edbe00;
  padding-bottom: 4px;
}

.container-informativo h4 {
  font-size: 20px;
  font-weight: bold;
  color: #332900;
  padding-bottom: 10px;
}

th {
  background-color: #aab6f3;
}

tr {
  background-color: rgb(254, 255, 222);
  ;
}

.container-informativo {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* CALCULO */
.container-conteudo {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-calculo {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 80%;
  margin: auto;
  align-items: center;
  background-color: #f1e74d;
  border: solid #000f91 2px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  box-shadow: 20px 20px #000f91;
  background-color: #f7fc6f;
}

.container-resultado {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  margin: auto;
  align-items: center;
  background-color: #f1e74d;
  border: solid #000f91 2px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  box-shadow: 20px 20px #000f91;
  background-color: #f7fc6f;
}

.campo-calculo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.container-calculo h4 {
  color: #000f91;
  font-size: 26px;
}

.container-calculo p {
  padding-bottom: 18px;
  font-size: 18px;
  font-weight: bold;
}

.container-calculo .campo {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.container-calculo input {
  height: 30px;
  width: 100%;
  border: solid 1px #000f91;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
}

.container-calculo select {
  height: 30px;
  width: 100%;
  border: solid 1px #000f91;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
}

.container-calculo button {
  height: 50px;
  width: 80%;
  border: transparent;
  border-radius: 10px;
  background-color: #000f91;
  color: #f1e74d;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-resultado h4 {
  color: #000f91;
  font-size: 30px;
}

.chart-container {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
}

.chart-container canvas {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.container-kpi {
  width: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background: white;
}

.container-kpi h5 {
  border-bottom: solid 2px black;
  background-color: rgb(211, 255, 144);
  font-size: 22px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

.container-kpi p {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
}

.container-resultado-texto {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
}

.container-resultado-texto p {
  font-size: 18px;
  padding-bottom: 5px;
}

.container-resultado-texto button {
  height: 50px;
  width: 100%;
  border: solid 1px #fff700;
  border-radius: 7px;
  background-color: #000f91;
  color: #f1e74d;
  font-size: 26px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

button a {
  text-decoration: none;
  color: #fff700;
}


/* RESULTADO */

/* RODAPE */
footer {
  width: 100%;
  background: #eaecef;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  margin-top: 80px;
}

.redirecionamento {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
}

.link_footer {
  width: 23%;
  min-width: 200px;
}

.link_footer h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.link {
  display: flex;
  flex-direction: column;
}

.link2 {
  display: flex;
  flex-direction: column;
}

.link a {
  color: #555;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.link2 a {
  color: #555;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.link a img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.link2 a img {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.informacoes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.informacoes img {
  height: 150px;
}

.informacoes p {
  margin: 0;
  color: #666;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.informacoes p img {
  margin-right: 5px;
  height: 16px;
}